.btn-group{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
a {
    background-color: #653ea5;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;
    margin:2%;

}

a:hover {
    background-color: #b06ad4;
}

a:active {
    background-color: black;
}

h1{
    text-align:center;
    margin-bottom:20%;
    margin-top:10%;

}
body{
    background-color: #ffef9b;
}